@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body{
  background-color: hsl(180, 52%, 96%);
}
.mainApp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  width: 375px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  position: relative;
  
}
.job_profile{
  width: 48px;
  height: 48px;
  position: absolute;
  top: -24px;
}
.job_list{
  background-color: white;
  height: 240px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 10px 10px 10px gray;
}
.new_border{
  border-left: 6px solid hsl(180, 29%, 50%);
  padding-left: 14px;
}
.job_details{
  height: 55%;
  align-content: center;
}
.job_description{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.company_status{
  display: flex;
  align-items: center;
  gap: 12px;
}
.company_name{
  color: hsl(180, 29%, 50%);
  font-weight: 800;
}
.new,
.featured{
  text-transform: uppercase;
  padding: 6px 8px;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  font-size: 11px;
}
.new{
  background-color: hsl(180, 29%, 50%);
}
.featured{
  background-color: black;
}
.job_status{
  display: flex;
  gap: 8px;
  color: hsl(180, 8%, 52%);
  align-items: center;
}
.requirement{
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
}
.requirement_border{
  border-top: 1px solid hsl(180, 8%, 52%);
}
.requirement p{
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 8px 12px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.searchBar{
  background-color: white;
  padding: 20px;
  width: 327px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -87.5px;
}
.searchList{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 90%;
}
.searchInd{
  background-color: hsl(180, 31%, 95%);
  height: 28px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}
.searchText{
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsl(180, 29%, 50%);
}
.deleteBtn{
  height: 100%;
  width: 20px;
  font-size: 16px;
  border: none;
  background-color: hsl(180, 29%, 50%);
  color: white;
  font-weight: 500;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.deleteBtn:hover{
  background-color: hsl(180, 14%, 20%);
}
.clearBtn{
  align-content: center;
  color: hsl(180, 29%, 50%);
  font-weight: 600;
  transition: 0.4s;
  cursor: pointer;
}
.clearBtn:hover{
  text-decoration: underline;
}
@media (min-width:1024px) {
  main{
    width: 1024px;
  }
  .job_list{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 20px 40px;
  }
  .job_details{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
  }
  .job_profile{
    position: static;
    width: 88px;
    height: 88px;
  }
  .new_border{
    padding-left: 36px;
  }
}